html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* couleur fond d'écran */

body{
    height: 100%;
    background-image: linear-gradient(to bottom , #ffd89b, #19547b);
    background-image: radial-gradient( #ffd89b, #19547b); 
    background-image: radial-gradient(circle at 0% 100% , #ffd89b, #19547b);
}

/* FIN couleur fond d'écran */

/* Navbar */
header{
    width: 100%;
    height: 70px;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
}

header > a{
    color: white;
    margin: 0 15px;
    font-size: 1.3em;
}

header .icon{
    display: none;
}

#introPays{
    position: absolute;
    z-index: 99;
    left: 25%;
    top: 4%;
    color: orangered;

}

.billets{
    text-align: center;

}

.billets-img{
    border-radius: 20px;
    border: 5px green solid;
}

#contact-container {
    background-color: white;
    width: 100%;
    margin-top : 50px;
    padding: 20px;    
    text-align: center;

}

#contact-title-container {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.contact-form{
    width: 30%;
    padding: 5px;
    border : 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 5px;
}

#contact-form-textarea{
    width: 70%;
    height: 150px;
}

#contact-form-btn {
    padding: 10px;
}

@media (max-width: 600px){
    header > a,
    header button{
      display: none;
    }

    header .icon{
        display: block;
        position: absolute;
        right: 0;
        text-align: center;
        width: 5% !important;
        top: 20px;
        padding: 0 !important;
        /* transform: translateY(-50%); */
        cursor: pointer;
    }

    header.responsive > a{
        padding: 10px 0;

    }


    header.responsive > a,
    header.responsive .dropdown-1{
        display: block;
        /* padding: 10px 0; */
        width: 100%;
        /* text-align: left; */
    }

    header.responsive button{
        display: block;
        padding: 10px 0;

    }

    header {
        flex-direction: column;
        min-height: 70px;
        height: 100%;
        align-items: flex-start;
        /* ?? */

    }

    header .dropdown-1:hover .content{
        position: relative;
        width: 100%;
        top: 0;
        /* display: block;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        top: 70px;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        color: black; */
    }
}

/* FIN Navbar */

 .principale h1, h2{
    text-align: center;
    color: rgb(214, 213, 213);
    color: rgb(218, 204, 56);

    padding: 10px 0;
} 

#accueil h2{
    text-align: center;
    color: rgb(214, 213, 213);
    padding: 10px 0;
    font-size: 1.5em;
}

#accueil p{
    margin: 0 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 5%;
    font-size: 1.2em;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: burlywood;
}

#catégorie h2{
    text-align: center;
    color: rgb(214, 213, 213);
    padding: 10px 0;
    font-size: 1.5em;
}

#catégorie p{
    margin: 0 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 5%;
    font-size: 1.2em;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: burlywood;
}

#tarifs h2{
    text-align: center;
    color: rgb(214, 213, 213);
    padding: 10px 0;
    font-size: 1.5em;
}

#tarifs p{
    margin: 0 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 5%;
    font-size: 1.2em;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: burlywood;
}


/* partie "étiquettes" x 3 */
.prestations{
    order: 2px solid green;
    background-color: rgb(25, 0, 255);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 5%;
}

.imagesPrestation{
    order: 2px solid green;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.imagesPrestation h4{
    font-weight: bold;
    color: darkgrey;
    order: 2px solid green;
    background-color: rgb(129, 0, 0);
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}

.imagesPrestation p{
    order: 2px solid green;
    border-radius: 10px;
    background-color: rgb(129, 0, 0);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

/* FIN partie "étiquettes" x 3 */

#infos h2{
    text-align: center;
    color: rgb(214, 213, 213);
    padding: 10px 0;
    font-size: 1.5em;
}

#infos p{
    margin: 0 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 5%;
    font-size: 1.2em;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: burlywood;
}



/* incon retour haut de page */
#scroll_to_top{
    position: fixed;
    width: 25px;
    bottom: 90px;
    right: 30px;
}

#scroll_to_top img{
    width: 25px;
}
/* FIN incon retour haut de page */

.basDePage{
    text-align: center;
    background-color: rgb(252, 111, 111);
    color: white;
    padding: 10px 10%;
}
